<!DOCTYPE html>
<html>
  <head>
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "data-turbo-track": "reload", type: "module" %>
  </head>
  <body class="bg-gray-6000 min-h-screen">
    <%# CORREÇÃO: Top Nav fora do <main> para ser estático e semântico %>
    <%= render 'shared/top_nav' %>
    <%# O main agora contém APENAS o conteúdo variável da página %>
    <%# Corrigimos o mt-28. Se a navegação for fixa, esse padding deve ser no body ou no main. %>
    <main class="container mx-auto mt-28 px-5">
      <%= yield %>
    </main>
  </body>
</html>